*{
    box-sizing: border-box;
}


.container{
    border: 4px solid black;
    padding: 24px;
    margin: 24px 24px 0px 24px;
}
.row{
    width:100%;
    max-width: 600px;
    margin: 0 auto;
}
.title{
    border: 4px solid black;
    width: 100%;
    height: 24px;   
    margin-bottom: 24px;
}

.box{
    width: 30%;
    height: 100px;
    border: 4px solid black;
    margin-bottom: 10px;
}
.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}