.box{
    width: 100px;
    height: 100px;
    border: 4px solid black;
}
.box-small{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.box-wrapper{
    display: flex;
    align-items: center;
}
.container{
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}